<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Library</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
        <nav class="blue">
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Django Library</a></li>
                </ul>
                <ul class="right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'books_create_url_nickname' %}">Add a Book</a></li>
                        <li><a href="{% url 'books_index_url_nickname' %}">View All Books</a></li>
                        <li><a href="{% url 'authors_create_url_nickname' %}">Add an Author</a></li>
                        <li><a href="{% url 'authors_index_url_nickname' %}">View All My Authors</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% else %} 
                        <li><a href="{% url 'signup_url_nickname' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content%}
        {% endblock %}
    </main>
    <footer class='page-footer blue'>
        <div class = 'right'>Nurs Technology, &copy; Django Library &nbsp;</div>
    </footer>
</body>
</html>